<div class="mention-popover">
    <div class="mention-popover-top">
        <input class="mention-popover-filter" type="text" autofocus placeholder="{{t 'Search' }}" />
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="mention-popover-user-list" data-simplebar data-simplebar-auto-hide="false" data-message-id="{{message_id}}">
        {{> mention_popover_user_list}}
    </div>
</div>
